apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aggregator
  revisionHistoryLimit: 10
  template:
    metadata:
      labels:
        app: aggregator
    spec:
      containers:
      - name: fluentd
        image: ${FLUENTD_IMAGE}
        resources:
          limits:
            cpu: "1"
            memory: 500Mi
          requests:
            cpu: 100m
            memory: 200Mi
        volumeMounts:
        - name: config-volume
          mountPath: /etc/fluent/config.d
        - name: google-cloud-key
          mountPath: /var/secrets/google
        env:
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /var/secrets/google/key.json
      volumes:
      - name: varlog
        emptyDir: {}
      - name: config-volume
        configMap:
          defaultMode: 420
          name: aggregator-fluentd-config
      - name: google-cloud-key
        secret:
          secretName: gcs-key
